<div class="row">
  <div class="col">
    <h1>Editing sword form</h1>
  </div>
</div>

<%= render 'form', sword_form: @sword_form %>

<div class="row">
  <p class="col">
    <%= link_to 'Show', @sword_form %> | <%= link_to 'Back', sword_form_path %>
  </p>
</div>
