<h1>Editing sword form</h1>

<%= render "form", sword_form: @sword_form %>

<br>

<div>
  <%= link_to "Show this sword form", @sword_form %> |
  <%= link_to "Back to sword forms", sword_forms_path %>
</div>
