<div id="tags-sidebar" class="position-fixed top-0 end-0 border-start m-2 py-3 px-5 d-none d-lg-block">
  <h2 class="display-6">Tags</h2>
  <ul class="list-group-flush ps-0">
    <% @tags.each do |tag| %>
      <li class="list-group-item"><%= link_to tag.name, tag %></li>
    <% end %>
  </ul>
</div>
